{% extends 'basic.html' %}
{% block title %}
farmer
{% endblock title %}
{% block content %}
{{status}}
 <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form action='/farmer/' method="POST" enctype='multipart-form-data'>
                    {% csrf_token %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Farmer's Name</label>
                                    <input class="input--style-4" type="text" name="name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Village Name</label>
                                    <input class="input--style-4" type="text" name="vill_name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">District Name</label>
                                    <input class="input--style-4" type="text" name="dist_name">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group" width=>
                                    <label class="label">Address</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 " type="text" name="address"  size='73'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Aadhar Number</label>
                                    <input class="input--style-4" type="text" name="addhar"  >
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group" width=>
                                    <label class="label">Password</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 " type="password" name="password"  >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" id='sub'>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
#sub{
    background-color: blue;
}
</script>
{% endblock content %}