{% extends 'basic.html' %}

{% block titile %}
Project
{% endblock titile %}

{% block content %}
<div id='info'>
    <div>
        <h2>Project Idea</h2>
        <p>This is website created for the helping of the farmer to sell their products directly to the wholesaler
         dealers in big cites.</p>
    </div>
    <div>
        <h2>Technology Used in the Project</h2>
        <ul>
            <li>Django</li>
            <li>Sqlite3 Database</li>
            <li>Bootstrap</li>
            <li>javascript</li>
        </ul>
    </div>
    <div>
        <h2>Language Used in the project</h2>
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>Javascript</li>
        </ul>
    </div>
    <div>
        <h2>Features Available in this demo website</h2>
        <h3>Farmers</h3>
        <ul>
            <li>Farmer can register himself/herself  by providing the neccessary informartion like:-</li>
            <li>Village, Name,Age</li>
            <li>Farmer can add their multile crops like:-</li>
            <li>Wheat, Bajra, Rice etc</li>
            <li>Farmer can connect to the outside world to the distributer directly.</li>
        </ul>
        <h3>Buyers</h3>
        <ul>
            <li>Buyers can signup in the website and create an account-</li>
            <li>Buyers can use the facility of cart after creating account</li>
            <li>Buyers can place order whatever they need as per requirement</li>
        </ul>
    </div>
    <div class="text-center ">
        <h2>Developer Information</h2>
        <h3><b>Name-:</b>     Gourav Singh</h3>
        <h3> <b> Age-: </b>    20yrs (when created it)</h3>
        <h3> <b>Course-:</b>     Bachelor in Science in Computer Science </h3>
        <h3><b>College-:</b>     Dyal Singh College </h3>
        <h3><b>University-: </b>    Delhi University</h3>
        <h3><b>Field Of Interset:</b>    Web designing, Machine Learning,Data Science </h3>
        <h3><b>Key skills-:</b>     Django, React,Python,Basic DSA and many more coming ....</h3>
    </div>
</div>

<style>
p{
    font-size: 20px;
    color: white;
}
h2{
    color: red;
}
ul{
    font-size: 20px;
    color: green;
}
</style>
{% endblock content %}